@mixin display-flex-row-spaseAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin display-flex-row-spaseBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin display-flex-row-centr-centr {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin display-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%rectangle-box {
  padding: 8px 16px;
  border-radius: 6px;
}
%btn {
  padding: 10px 40px;
  border-radius: 8px;
}
%text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
