:root {
  --color-dark: #353535;
  --color-primary: #49aaf5;
  --color-primary-dark: #058ac4;
  --color-white: #ffffff;
  --color-gray-light: #eaebed;
  --color-light: #f5fbff;
  --color-danger: #ff4c4c;
  --color-warning: #ff9b05;
  --color-warning-dark: #dc911c;
}
