$width: 390px;
$height: 50px;

.input {
  display: block;
  width: 100%;
  height: $height;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  outline: none;
  border: 2px solid var(--color-gray-light);
  border-radius: 6px;
  color: var(--color-dark);

  & ~ .showPassBtn {
    &.eyeOff {
      background: url("../../../assets/eye-off_inactive.png");
    }

    &.eye {
      background: url("../../../assets/eye_inactive.png");
    }
  }

  &:not(:placeholder-shown) {
    border-color: var(--color-primary);
    background-color: var(--color-light);

    & ~ .showPassBtn {
      &.eyeOff {
        background: url("../../../assets/eye-off.png");
      }

      &.eye {
        background: url("../../../assets/eye.png");
      }
    }
  }

  &:focus {
    border-color: var(--color-primary);
    background-color: var(--color-white);
  }

  &::placeholder {
    color: var(--color-gray-light);
  }
}

.error .input {
  margin-bottom: 8px;
  border-color: var(--color-danger);
  background-color: var(--color-white);
}

.label {
  display: block;
  position: relative;
  width: $width;
}

.errorMessage {
  font-size: 0.875rem;
  color: var(--color-danger);
  margin-bottom: 16px;
}

.showPassBtn {
  position: absolute;
  right: 16px;
  bottom: 13px;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
