#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-fluid {
  border: 1px solid black;
  text-align: center;
  padding: 1% 2%;
  width: 50%;
  height: 60%;
}

form {
  height: 100%;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputs {
  position: relative;
}

.extra-field {
  display: flex;
  justify-content: space-around;
}

#submit {
  width: 30%;
  height: 200%;
}

#eye {
  background-color: lightskyblue;
  color: white;
  font-size: 0.5em;
}
