#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-fluid {
  border: 1px solid black;
  text-align: center;
  padding: 1% 2%;
  width: 50%;
  height: 60%;
}

form {
  height: 100%;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputs {
  width: 30%;
  /* border: solid 1px black; */
  position: relative;
}

.pass_field {
  /* border: blue 1px solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.showPass_btn {
  position: absolute;
  right: 0;
  top: 53%;
  padding: 4px;
}

.extra-field {
  display: flex;
  justify-content: space-around;
}

#submit {
  height: 200%;
}

#eye {
  background-color: lightskyblue;
  color: white;
  font-size: 0.5em;
}
