#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-fluid {
  border: 1px solid black;
  text-align: center;
  padding: 1% 2%;
  width: 30%;
  height: 60%;
}

form {
  height: 100%;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.extra-field {
  display: flex;
  justify-content: space-around;
}

button {
  width: 30%;
  height: 200%;
}
